<div class="container-fluid">
    <div class='heading'>
        <%= link_to root_path do %>
        <i class="fas fa-chevron-circle-left"></i>
        <% end %>
        <h1 class='text-center'>All charities</h1>
    </div>


    <div class='cards-container'>
        <% @charities.each do |charity|%>

        <div class="card text-center">
            <div class="card-header">
                Name of the charity: <%=charity.name %>
            </div>
            <div class="card-body">
                <h5 class="card-title">Created by: <%=charity.user.email %></h5>
                <p class="card-text"><%=charity.content %></p>
                <%= donate_btn(charity) %>
            </div>
            <div class="card-footer">
                <%=charity.created_at %>
            </div>
        </div>
        <%end%>
    </div>





</div>