<div class='heading'>
    <%= link_to root_path do %>
    <i class="fas fa-chevron-circle-left"></i>
    <% end %>
    <h1 class='text-center'>List of My Charities </h1>
</div>

<%if @charities.count > 1 %>
<h3 class='text-center'>You have made <%=@charities.count%> charities</h3>
<%elsif @charities.count == 1 %>
<h3 class='text-center'>You have made <%=@charities.count%> charity</h3>
<%else%>
<h3 class='text-light'>You have no charities so far! Go ahead and make one!</h3>
<%end%>
<ul>
    <%@charities.each do |char|%>
    <li class='fdx'>
        <p> <%=char.name%> | <%=char.created_at.to_formatted_s(:long)%></p>
        <p>Recieved donations: $<%=char.donations.count%></p>

    </li>
</ul>

<%end%>

<%= link_to "Create a charity", new_charity_path, class:'btn btn-success btn-block' %>