<div class='heading'>
    <%= link_to root_path do %>
    <i class="fas fa-chevron-circle-left"></i>
    <% end %>
    <h1 class='text-center'>List of My Charities </h1>
</div>
<div class='my-charities-heading'>
    <%if @charities.count > 1 %>
    <h3 class='text-center'>You have <%=@charities.count%> active charities</h3>
    <%elsif @charities.count == 1 %>
    <h3 class='text-center'>You have <%=@charities.count%> active charity</h3>
    <%else%>
    <h3 class='text-light'>You have no active charities! Go ahead and make one!</h3>
    <%end%>
    <p class='lead text-right'>Total donations recieved: $<%=@user.donations.count%></p>
</div>
<ul>
    <%@charities.each do |char|%>
    <li class='fdx'>
        <p> <%=char.name%> | <%=char.created_at.to_formatted_s(:long)%></p>
        <p>Donations: $<%=char.donations.count%></p>

    </li>
</ul>

<%end%>

<%= link_to "Create a charity", new_charity_path, class:'btn btn-success btn-block' %>